html, body, #__next {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

a { color: #0366d6; text-decoration: none }

a:hover { text-decoration: underline }
